{{ define "main" }}
{{/*  默认启用菜单  */}}
{{/*  配置参数，设置为true 或 未设置 ，结果为true   */}}
{{- $TOCManuallyEnable := eq (eq $.Site.Params.toc false) false -}}

{{/*  文章配置的toc，设置为true 或 未设置 ，结果为true  */}}
{{- $pageTocEnable := eq (eq .Params.toc false) false -}}

{{/*  判断目录长度 长度大于50 结果为true  */}}
{{- $hasTOC := ge (len .TableOfContents) 100 -}}
{{- $tocEnable := (and (and $hasTOC $pageTocEnable) $TOCManuallyEnable)  -}}
<section class="mx-auto mt-6 grid max-w-7xl grid-cols-1 gap-6 px-4 lg:grid-cols-[1fr_18rem] lg:px-6" data-pagefind-body>
    <div class="z-0 min-w-0">
        <div class="prose max-w-none prose-h1:my-4 prose-h2:my-3 prose-h3:my-2 prose-table:block prose-table:overflow-x-auto">
            <div class="my-3">
                <h1 class="mb-1" id="title">{{ .Title }}
                    {{ if .Params.tags }}
                    {{ range (.GetTerms "tags") }}
                    <small>
                        <a class="text-sm" href='{{ .RelPermalink }}'>{{- .LinkTitle -}}</a>
                    </small>
                    {{ end }}
                    {{ end }}
                </h1>
                <section class="d-flex">
                    <span class="mx-2">{{ partial "icons/icon" (dict "path" "post/date" ) }}{{ .Date.Format (default "January 2, 2006" .Site.Params.DateFormat) }}</span>
                    <span class="mx-2">{{ partial "icons/icon" (dict "path" "post/bi" ) }}{{- T "article.word_count" .WordCount -}}</span>
                    <span class="mx-2">{{ partial "icons/icon" (dict "path" "post/time" ) }}{{- T "article.reading_time" .ReadingTime -}}</span>
                </section>
            </div>
            <div>
                {{  if $tocEnable }}
                <div x-data="{ open: false }" class="lg:hidden sticky top-4 z-10 bg-tl-base-100">
                    <div x-on:click="open = !open" x-transition.duration.500ms class="m-0 p-1 text-2xl cursor-pointer">{{- T "article.table_of_contents" | default "tableOfContents" -}}</div>
                    <div x-show="open" x-transition @click.away="open = false" class="prose prose-a:no-underline prose-li:list-none prose-ul:my-1 prose-li:my-0 max-h-[70vh] overflow-y-auto">
                        {{ .TableOfContents }}
                    </div>
                </div>
                {{ end }}
                <article data-type="content" data-pagefind-body>
                    {{ .Content }}
                </article>
            </div>
            <aside class="hidden lg:block" id="meta">
                <div class="flex justify-between py-6 my-4">
                    {{ with .PrevInSection }}
                    <div><span class="cursor-default mr-1">{{- T "article.previous_article" | default "上一篇" -}}: </span><a
                            href="{{.RelPermalink}}"><i class="bi bi-chevron-double-left"></i> {{.Title}}</a></div>
                    {{ end }}
                    {{ with .NextInSection }}
                    <div><span class="cursor-default mr-1">{{- T "article.next_article" | default "下一篇" -}}:</span> <a
                            href="{{.RelPermalink}}"> {{.Title}}<i class="bi bi-chevron-double-right"></i></a></div>
                    {{ end }}
                </div>
            </aside>
        </div>
    </div>
    <div class="z-0 hidden w-96 flex-col gap-6 lg:flex">
        <div class="sticky top-20 z-[5] w-full cursor-pointer rounded-xl p-3 shadow duration-500 hover:shadow-md ">
            {{  if $tocEnable }}
            <div class="max-w-full h-auto sticky top-20">
                <h4 class="text-2xl">{{- T "article.table_of_contents" | default "tableOfContents" -}}</h4>
                <div class="toc" x-data="tocHighlight">
                    {{ .TableOfContents }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}
