<article class="group relative overflow-hidden bg-gradient-to-r bg-tl-base-200 rounded-xl p-6 transition-all duration-300 border border-tl-base-300 hover:bg-tl-base-200-hover hover:border-tl-primary hover:shadow-lg">
    <div class="relative">
        <div class="flex items-start justify-between">
            <div class="flex-1 min-w-0">
                <a href="{{ .RelPermalink }}" class="block group">
                    <h2 class="text-xl font-bold group-hover:text-tl-primary transition-colors duration-200 mb-3 leading-tight">
                        {{ .Title }}
                    </h2>
                    <!-- 文章元信息 -->
                    <div class="flex flex-wrap items-center gap-4 text-sm text-tl-base-content/75">
                            <span class="flex items-center bg-tl-base-200 px-3 py-1 rounded-full">
                                {{ partial "icons/icon" (dict "path" "common/about" "className" "ml-0 mr-1 p-0 text-xs" ) }}
                                {{ .Params.author }}
                            </span>

                            <span class="flex items-center bg-tl-base-200 px-3 py-1 rounded-full">
                                {{ partial "icons/icon" (dict "path" "post/date" "className" "ml-0 mr-1 p-0 text-xs" ) }}
                                {{ .Date.Format (default "2006-01-02" .Site.Params.DateFormat) }}
                            </span>

                        {{ if .Params.categories }}
                            <span class="flex items-center bg-tl-base-200 px-2 py-1 rounded-md hover:bg-tl-base-300 text-xs">
                                    {{ partial "icons/icon" (dict "path" "common/fenlei" "className" "ml-0 mr-1 p-0 text-xs") }}
                                    {{ index .Params.categories 0 }}
                            </span>
                        {{ end }}

                        {{ if .Params.tags }}
                        <div class="flex items-center space-x-1">
                            {{ range .Params.tags }}
                                <span class="bg-tl-base-200 hover:bg-tl-base-300 px-2 py-1 rounded-md text-xs transition-colors duration-200">
                                    {{ partial "icons/icon" (dict "path" "common/tags" "className" "ml-0 mr-1 p-0 text-xs") }}{{ . }}
                                </span>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    {{ if .Summary }}
                    <p class=" text-base leading-relaxed mb-4 line-clamp-3 transition-colors duration-200">
                        {{ .Summary }}
                    </p>
                    {{ end }}
                </a>
            </div>
        </div>
    </div>
</article>
