/* 自定义css */

/* x-cloak是alpinejs的指令，用于隐藏元素*/
[x-cloak] {
    display: none !important;
}

/* 卡片 */
.card {
    border-radius: 0.5rem;
    outline-offset: 2px;
    outline: 0 solid #0000;
    flex-direction: column;
    transition: outline .2s ease-in-out;
    display: flex;
    position: relative;
}
.card-body {
    padding: 1rem;
    flex-direction: column;
    flex: auto;
    gap: .5rem;
    display: flex;
}