{{ define "main" }}
<section class="mx-auto mt-6 grid max-w-[90rem] gap-6 px-4 md:px-6">
    <div>
        <div>
            {{- partial "tags.html" . -}}
            <h1 class="text-2xl">{{ .Title }}</h1>
            <main class="space-y-6">
                {{ range (.Paginate .Pages (index .Site.Params.pagination "tag_paginate" | default 9)).Pages }}
                    {{ .Render "summary" }}
                {{ end }}
                {{ partial "pagination.html" . }}
            </main>
        </div>
    </div>
</section>
{{ end }}
